.App {
  text-align: center;
  background-image: url("https://thumbs.gfycat.com/AdmirableGentleIndianabat-size_restricted.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
  color: white;
}

.App-title {
  color: white;
  font-size: 1.5em;
}

.App-intro {
  color: white;
  font-size: 15px;
  padding: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
